[Desktop Entry]
Version=1.0
Name=Hang On, Man!
Comment=A word guessing game
GenericName=Hang On, Man!
Exec=maleo /usr/share/hangonman
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=hangonman
Categories=Game;
StartupWMClass=Chromium
StartupNotify=true
