Source: hangonman
Section: games
Priority: extra
Maintainer: BlankOn Developers <BlankOn-Dev@googlegroups.com>
Standards-Version: 3.9.3
Build-Depends: cdbs, debhelper (>= 8.0.0)

Package: hangonman
Architecture: all
Depends: html5app
Description: game
 This is a copy of Tizen Games
 A word guessing game.
